   ::-moz-selection {
    background: #008ab4;
    color: white;
    text-shadow: none;
}

::selection {
    background: #008ab4;
    color: white;
    text-shadow: none;
}

html {
    min-width: 400px;
    position: relative;
    min-height: 100%;
    overflow-y:scroll; /* scrool bar always visible */
    overflow-x: hidden; /* horizontal scrool bar hidden */
}

body {
  
    font-family: 'Source Sans Pro', sans-serif; /*choose different font*/
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin: 0 0 100px; /* bottom = footer height */

    background: #0d5b89; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #008ab4, #0c547e ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #008ab4, #0c547e ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #008ab4, #0c547e ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #008ab4, #0c547e ); /* Standard syntax */
}

/* top navbar*/
.navbar-default {
   background-color: #080f17; 
   border-color: transparent;
   border-bottom-right-radius:2em;
   border-bottom-left-radius:2em;
   height: 105px;
}

.navbar-fixed-top { position: absolute!important;
    box-shadow: 1px  5px #bebcbd;
}

footer {
    background-color: #bebcbd;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
footer p {
   text-align:center;
   margin-top: 40px;
   margin-left: 10px;
   font-size: 1em;
}  

/* text input form */
.textInput{
   margin-top: 75px;
   padding-bottom: 75px;
   text-align: center;
}

/* submit button */
.btn-success {
   background-color: #fdfdf9;
   color: #0d5b89;
   border: 1px solid #bebcbd;
   border-radius: 2px;
} 
.btn-success:hover { 
   background-color: #008ab4;
   border: 1px solid #bebcbd;
   color:   ;
}

textarea, input, input[type], .uneditable-input {   
    border-radius: 2px;
}

#headerwrap {
   padding-top: 15%;
}

#headerwrap h1 {
   letter-spacing: .5px;
   font-size: 40px;
   color: #fdfdf9;
   text-align: center;
}

#headerwrap h2 {
   font-size: 18px;
   color: #EBEBEB;
   text-align: center;
   padding-top: 15px;
}
